<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.quyq.batch.mapper.PlayerMapper">

    <insert id="insertBatch" >
        INSERT IGNORE INTO PLAYER
        VALUES
        <foreach collection="items" item="item" separator="," >
            (#{item.ID},#{item.lastName},#{item.firstName},#{item.position},#{item.birthYear},#{item.debutYear})
        </foreach>
    </insert>

</mapper>
